/*Gør så man ikke kan scroll */
html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

section {
    max-width: 1250px;
    margin: auto;
}

img {
    width: 100%;
}

/*--------------------------MOBIL VERSION--------------------------------*/
/*-----------------------------NAVIGATION-------------------------------*/
.header {
    background: none;
}

.topbar {
    display: grid;
    grid-template-columns: 1fr 1fr 50px;
}

.topbar img {
    width: 200px;
    height: 75px;
}

#knap {
    grid-column-start: 3;
    font-size: 20px;
    text-align: center;
    font-size: 26px;
    color: black;
    cursor: pointer;
}

nav a {
    display: block;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 24px;
}

/*Skjuler menuén indtil burgermenu er klikket på*/
.toggle {
    display: none;
}

/*-----------------------------------MAIN START-------------------------------*/
h1 {
    text-align: center;
}

img.telefon {
    width: 30px;
    height: 30px;
}

img.email {
    width: 30px;
    height: 30px;
}

img.adr {
    width: 30px;
    height: 30px;
}

img.navn {
    width: 30px;
    height: 30px;
}

/*-----------------------------------MAIN SLUT-------------------------------*/
/*-----------------------------------FOOTER START-------------------------------*/

footer {
    display: grid;
    grid-template-columns: auto;
    background-color: #E4E4E485;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
}

p #text {
    grid-column-start: 1fr;
}

#socialemedier img {
    width: 30px;
    height: 30px;
}

#instagram img {
    padding: 5px;
}

a#instagram {
    color: #E4E4E485;
}

#facebook img {
    padding: 5px;
}

a#facebook {
    color: #E4E4E485;
}

#linkedin img {
    padding: 5px;
}

a#linkedin {
    color: #E4E4E485;
}

hr {
    width: 245px;
    text-align: left;
    margin-left: 0;
    color: lightgray;
}

/*-----------------------------------FOOTER SLUT-------------------------------*/
/*-----------------------------------MOBIL SLUT/IPAD START---------------------*/
@media (min-width:760px) {
    #knap {
        display: none;
    }

    header {
        background: none;
        display: grid;
        grid-template-columns: 150px 1fr;
    }

    nav.toggle {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        margin-left: 90px;
        margin-right: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    nav a {
        font-size: 18px;
    }

    a#web {
        padding-left: 0;
        padding-right: 0;
        margin-top: 10.4px;
    }

    a#ux {
        padding-left: 0;
        padding-right: 0;
        margin-top: 10.4px;
    }

    a#animation {
        padding-left: 0;
        padding-right: 0;
        margin-top: 10.4px;
    }

    a#indhold {
        padding-left: 0;
        padding-right: 0;
        margin-top: 10.4px;
    }

    a#about {
        padding-left: 0;
        padding-right: 0;
        margin-top: 10.4px;
    }

    .vl {
        border-left: 1px solid black;
        height: 27px;
        margin-top: 27px;
    }

    /*-----------------------------------NAV/HEADER SLUT-------------------------------*/

    img.portraet {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 650px;
        height: 515px;
    }

    .section_wrapper {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-left: 57px;
        padding-right: 57px;
    }

    #second_section {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-left: 57px;
        padding-right: 57px;
        margin-bottom: 25px;
    }

    #third_section {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
        margin-top: 80px;
    }

    .col_one {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #third_section .col {
        display: ruby;
    }

    #third_section h4 {
        margin: 0;
        font-size: 1.9vw;
    }

    .row {
        margin-left: 10px;
    }
}

/*-----------------------------------MAIN SLUT-------------------------------*/
}
