/*Gør så man ikke kan scroll */
html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

img {
    /*    width: 100%;*/
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-transform: none;
}

li,
a,
p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

/*MOBIL VERSION*/
/*-------------------NAVIGATION--------------------*/
.header {
    background: none;
}

.topbar {
    display: grid;
    grid-template-columns: 1fr 1fr 50px;
}

.topbar img {
    max-width: 41vw;
    height: auto;
}

#knap {
    grid-column-start: 3;
    font-size: 20px;
    text-align: center;
    font-size: 26px;
    color: black;
    cursor: pointer;
}

nav a {
    display: block;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

/*Skjuler menuén indtil burgermenu er klikket på*/
.toggle {
    display: none;
}

/*-------------------MAIN START--------------------*/
h1 {
    margin-left: 10px;
    margin-right: 10px;
}

h2 {
    margin-left: 10px;
    margin-right: 10px;
}

h3 {
    margin-left: 10px;
    margin-right: 10px;
}

h4 {
    margin-left: 10px;
    margin-right: 10px;
}

p {
    margin-left: 10px;
    margin-right: 10px;
}

.alf {
    width: 35vw;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.rudolph {
    width: 35vw;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.rensdyr {
    width: 35vw;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*-----------------------------------FOOTER START-------------------------------*/
footer {
    display: grid;
    grid-template-columns: auto;
    background-color: #E4E4E485;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
}

p #text {
    grid-column-start: 1fr;
}

#socialemedier img {
    width: 30px;
    height: 30px;
}

#instagram img {
    padding: 5px;
}

a#instagram {
    color: #E4E4E485;
}

#facebook img {
    padding: 5px;
}

a#facebook {
    color: #E4E4E485;
}

#linkedin img {
    padding: 5px;
}

a#linkedin {
    color: #E4E4E485;
}

hr {
    width: 245px;
    text-align: left;
    margin-left: 0;
    color: lightgray;
}

/*-----------------------------------FOOTER SLUT-------------------------------*/
/*-----------------------------------MOBIL SLUT/IPAD START---------------------*/
@media (min-width:760px) {
    #knap {
        display: none;
    }

    header {
        background: none;
        display: grid;
        grid-template-columns: 150px 1fr;
    }

    nav.toggle {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        margin-left: 90px;
        margin-right: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    nav a {
        font-size: 18px;
    }

    a#web {
        padding-left: 0;
        padding-right: 0;
        margin-top: 10.4px;
    }

    a#ux {
        padding-left: 0;
        padding-right: 0;
        margin-top: 10.4px;
    }

    a#animation {
        padding-left: 0;
        padding-right: 0;
        margin-top: 10.4px;
    }

    a#indhold {
        padding-left: 0;
        padding-right: 0;
        margin-top: 10.4px;
    }

    a#about {
        padding-left: 0;
        padding-right: 0;
        margin-top: 10.4px;
    }

    .vl {
        border-left: 1px solid black;
        height: 27px;
        margin-top: 27px;
    }

    .topbar img {
        width: 20vw;
        height: auto;
    }

    /*-------------------MAIN START--------------*/
    main {
        padding-left: 10px;
        padding-right: 10px;
    }

    #second_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
    }

    #tredje_section .row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
    }

    #fire_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
    }

    .alf {
        display: grid;
        margin-left: 0;
        margin-right: 0;
        width: 27.4vw;
        height: auto;
    }


    .rudolph {
        display: grid;
        margin-left: 0;
        margin-right: 0;
    }

    .rensdyr {
        display: grid;
        margin-left: 0;
        margin-right: 0;
    }

    #femte_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
    }

    /*-------------------FOOTER START--------------*/
    #forfatter p {
        margin: 0;
        padding: 5px;
    }
}
