/*Gør så man ikke kan scroll */
html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

img {
    /*    width: 100%;*/
    max-width: 100%;
    height: auto;
}

section {
    max-width: 1250px;
    margin: auto;
}

#first_section a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 1.9vw;
    color: gray;
}

#first_section a:hover {
    color: black;
}

#tredje_section a {
    color: gray;
}

#tredje_section a:hover {
    color: black
}

span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 1.9vw;
}

/*MOBIL VERSION*/
/*-------------------NAVIGATION--------------------*/
.header {
    background: none;
}

.topbar {
    display: grid;
    grid-template-columns: 1fr 1fr 50px;
}

.topbar img {
    max-width: 36vw;
    height: auto;
}

#knap {
    grid-column-start: 3;
    font-size: 20px;
    text-align: center;
    font-size: 26px;
    color: black;
    cursor: pointer;
}

nav a {
    display: block;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

nav a:hover {
    color: lightgray;
}

/*Skjuler menuén indtil burgermenu er klikket på*/
.toggle {
    display: none;
}

/*-------------------MAIN START--------------------*/
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-transform: none;
    font-size: xx-large;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}

h2 {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

h2,
h3,
h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-transform: none;
}

li,
a,
p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

h3 {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 6px;
}

h4 {
    margin-left: 10px;
    margin-right: 10px;
}

p {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

footer p {
    margin-left: 0;
}

.alf {
    width: 35vw;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.rudolph {
    width: 35vw;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.rensdyr {
    width: 35vw;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#first_section {
    padding-bottom: 30px;
}

.start {
    padding-top: 20px;
}

.start:hover {
    opacity: 0.5;
}

#second_section .section_wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
}

#tredje_section {
    padding-top: 30px;
}

#fire_section {
    padding-top: 30px;
}

#fire_section .section_wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
}

#femte_section .section_wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
}

/*-----------------------------------FOOTER START-------------------------------*/
footer {
    display: grid;
    grid-template-columns: auto;
    background-color: #E4E4E485;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
}

p #text {
    grid-column-start: 1fr;
}

#socialemedier img {
    width: 30px;
    height: 30px;
}

#instagram img {
    padding: 5px;
}

a#instagram {
    color: #E4E4E485;
}

#facebook img {
    padding: 5px;
}

a#facebook {
    color: #E4E4E485;
}

#linkedin img {
    padding: 5px;
}

a#linkedin {
    color: #E4E4E485;
}

hr {
    width: 245px;
    text-align: left;
    margin-left: 0;
    color: lightgray;
}

/*---------MOBIL SLUT/IPAD START-------------*/
@media (min-width:760px) {
    #knap {
        display: none;
    }

    header {
        background: none;
        display: grid;
        grid-template-columns: 150px 1fr;
    }

    nav.toggle {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        margin-left: 90px;
        margin-right: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    nav a {
        font-size: 18px;
    }

    a#web {
        padding-left: 0;
        padding-right: 0;
        margin-top: 10.4px;
    }

    a#ux {
        padding-left: 0;
        padding-right: 0;
        margin-top: 10.4px;
    }

    a#animation {
        padding-left: 0;
        padding-right: 0;
        margin-top: 10.4px;
    }

    a#indhold {
        padding-left: 0;
        padding-right: 0;
        margin-top: 10.4px;
    }

    a#about {
        padding-left: 0;
        padding-right: 0;
        margin-top: 10.4px;
    }

    .vl {
        border-left: 1px solid black;
        height: 27px;
        margin-top: 27px;
    }

    .topbar img {
        width: 20vw;
        height: auto;
    }

    /*-------------------MAIN START-----------*/
    main {
        padding: 20px;
    }

    #second_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
        margin-top: 30px;
        padding: 20px;
    }

    #tredje_section .row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
        padding: 20px;

    }

    #fire_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
        padding: 20px;
    }

    .alf {
        display: grid;
        margin-left: 0;
        margin-right: 0;
        width: 27.4vw;
        height: auto;
    }

    .rudolph {
        display: grid;
        margin-left: 0;
        margin-right: 0;
    }

    .rensdyr {
        display: grid;
        margin-left: 0;
        margin-right: 0;
    }

    #femte_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
        margin-top: 30px;
        padding: 20px;
    }

    .last {
        margin-bottom: 30px;
    }

    .spil {
        margin-bottom: 30px;
        margin-top: 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75vw;
    }


    /*------------FOOTER START--------------*/
    #forfatter p {
        margin: 0;
        padding: 5px;
    }
}

/*-------------------MEDIA 900--------------*/
@media (orientation: landscape),
(min-width:900px) {
    main {
        padding: 70px;
    }

    nav.toggle {
        margin-left: 155px;
        margin-right: 6px;
    }
}

/*-------------------MEDIA 1020--------------*/
@media (min-width: 1020px) {
    .topbar img {
        width: 15vw;
        height: auto;
    }

}

/*-------------------MEDIA 1200--------------*/
@media (min-width: 1200px) {
    .topbar img {
        width: 11vw;
        height: auto;
    }

    main {
        margin-left: 200px;
        margin-right: 200px;
    }

    .spil {
        width: 59vw;
    }

    nav.toggle {
        margin-left: 230px;
        margin-right: 6px;
    }
}

/*-------------------MEDIA 1500--------------*/
@media (min-width: 1500px) {
    nav.toggle {
        margin-left: 750px;
        margin-right: 30px;
    }
}
