/*Gør så man ikke kan scroll til siden*/
* {
    box-sizing: border-box;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

section {
    max-width: 1250px;
    margin: auto;
}

img {
    width: 100%;
}

/*----------------------------Mobile site----------------------------------*/

/*-----------------------------NAVIGATION---------------------------------*/

.topbar {
    display: grid;
    grid-template-columns: 1fr 1fr 50px;
}

.topbar img {
    margin-left: 10px;
    width: 200px;
    height: 75px;
}

#knap {
    grid-column-start: 3;
    font-size: 20px;
    text-align: center;
    font-size: 26px;
    cursor: pointer;
}

nav a {
    display: block;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
}

/*Skjuler menuén indtil burgermenu er klikket på*/

.toggle {
    display: none;
}

/*-----------------------------MAIN START---------------------------------*/
img.splash {
    max-width: none;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: 20% 10%;
}

/*-----------------------------MAIN SLUT---------------------------------*/
/*-----------------------------------FOOTER START-------------------------------*/
footer {
    display: grid;
    grid-template-columns: auto;
    background-color: #E4E4E485;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
}

p #text {
    grid-column-start: 1fr;
}

#socialemedier img {
    width: 30px;
    height: 30px;
}

#instagram img {
    padding: 5px;
}

a#instagram {
    color: #E4E4E485;
}

#facebook img {
    padding: 5px;
}

a#facebook {
    color: #E4E4E485;
}

#linkedin img {
    padding: 5px;
}

a#linkedin {
    color: #E4E4E485;
}

hr {
    width: 245px;
    text-align: left;
    margin-left: 0;
    color: lightgray;
}

/*-----------------------------------FOOTER SLUT-------------------------------*/
