/*Gør så man ikke kan scroll */
html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

img {
    /*    width: 100%;*/
    max-width: 100%;
    height: auto;
}

/*mMOBIL VERSION*/
/*NAVIGATION*/
.header {
    background: none;
}

.topbar {
    display: grid;
    grid-template-columns: 1fr 1fr 50px;
}

.topbar img {
    width: 38vw;
    height: 18vw;
}

#knap {
    grid-column-start: 3;
    font-size: 20px;
    text-align: center;
    font-size: 26px;
    color: black;
    cursor: pointer;
}

nav a {
    display: block;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 24px;
}

/*Skjuler menuén indtil burgermenu er klikket på*/
.toggle {
    display: none;
}

li {
    list-style-type: circle;
}

.mock_up {
    max-width: 500px
}

img.mockup {
    width: 100%;
}

/*-----------------------------------FOOTER START-------------------------------*/
footer {
    display: grid;
    grid-template-columns: auto;
    background-color: #E4E4E485;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
}

p #text {
    grid-column-start: 1fr;
}

#socialemedier img {
    width: 30px;
    height: 30px;
}

#instagram img {
    padding: 5px;
}

a#instagram {
    color: #E4E4E485;
}

#facebook img {
    padding: 5px;
}

a#facebook {
    color: #E4E4E485;
}

#linkedin img {
    padding: 5px;
}

a#linkedin {
    color: #E4E4E485;
}

hr {
    width: 245px;
    text-align: left;
    margin-left: 0;
    color: lightgray;
}

/*-----------------------------------FOOTER SLUT-------------------------------*/
/*-----------------------------------MOBIL SLUT/IPAD START---------------------*/
@media (min-width:760px) {
    #knap {
        display: none;
    }

    header {
        background: none;
        display: grid;
        grid-template-columns: 150px 1fr;
    }

    nav.toggle {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        margin-left: 90px;
        margin-right: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    nav a {
        font-size: 18px;
    }

    a#web {
        padding-left: 0;
        padding-right: 0;
        margin-top: 10.4px;
    }

    a#ux {
        padding-left: 0;
        padding-right: 0;
        margin-top: 10.4px;
    }

    a#animation {
        padding-left: 0;
        padding-right: 0;
        margin-top: 10.4px;
    }

    a#indhold {
        padding-left: 0;
        padding-right: 0;
        margin-top: 10.4px;
    }

    a#about {
        padding-left: 0;
        padding-right: 0;
        margin-top: 10.4px;
    }

    .vl {
        border-left: 1px solid black;
        height: 27px;
        margin-top: 27px;
    }

    #fire_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
    }
}
