/*Gør så man ikke kan scroll */
html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

img {
    /*    width: 100%;*/
    max-width: 100%;
    height: auto;
}

section {
    max-width: 1250px;
    margin: auto;
}

/*mMOBIL VERSION*/
/*----------------------NAVIGATION-------------------------*/
.header {
    background: none;
}

.topbar {
    display: grid;
    grid-template-columns: 1fr 1fr 50px;
}

.topbar img {
    max-width: 36vw;
    height: auto;
}

#knap {
    grid-column-start: 3;
    font-size: 20px;
    text-align: center;
    font-size: 26px;
    color: black;
    cursor: pointer;
}

nav a {
    display: block;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

nav a:hover {
    color: lightgray;
}

/*Skjuler menuén indtil burgermenu er klikket på*/
.toggle {
    display: none;
}

/*----------------------MAIN-------------------------*/
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-transform: none;
    font-size: xx-large;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}

h2 {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

h2,
h3,
h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-transform: none;
}

li,
a,
p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

h3 {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

h4 {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 6px;
}

p {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

#en_section a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 1.9vw;
    color: gray;
}

#en_section a:hover {
    color: black;
}

.introbillede {
    margin-bottom: 50px;
}

.introbillede img:hover {
    opacity: 0.5;
}

li {
    list-style-type: circle;
}

.mock_up {
    max-width: 500px
}

.mockup {
    margin-bottom: 30px;
    margin-top: 30px;
}

img.mockup {
    width: 100%;
}

.moodboard {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    margin-bottom: 20px;
    margin-top: 20px;
}

.styletile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    margin-bottom: 20px;
    margin-top: 20px;
}

/*-----------------------------------FOOTER START-------------------------------*/
footer {
    display: grid;
    grid-template-columns: auto;
    background-color: #E4E4E485;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
}

p #text {
    grid-column-start: 1fr;
}

#socialemedier img {
    width: 30px;
    height: 30px;
}

#instagram img {
    padding: 5px;
}

a#instagram {
    color: #E4E4E485;
}

#facebook img {
    padding: 5px;
}

a#facebook {
    color: #E4E4E485;
}

#linkedin img {
    padding: 5px;
}

a#linkedin {
    color: #E4E4E485;
}

hr {
    width: 245px;
    text-align: left;
    margin-left: 5px;
    color: lightgray;
}

/*-------------------FOOTER SLUT--------------*/
/*---------------MOBIL SLUT/IPAD START--------*/
@media (min-width:760px) {
    #knap {
        display: none;
    }

    header {
        background: none;
        display: grid;
        grid-template-columns: 150px 1fr;
    }

    nav.toggle {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        margin-left: 90px;
        margin-right: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    nav a {
        font-size: 18px;
    }

    a#web {
        padding-left: 0;
        padding-right: 0;
        margin-top: 10.4px;
    }

    a#ux {
        padding-left: 0;
        padding-right: 0;
        margin-top: 10.4px;
    }

    a#animation {
        padding-left: 0;
        padding-right: 0;
        margin-top: 10.4px;
    }

    a#indhold {
        padding-left: 0;
        padding-right: 0;
        margin-top: 10.4px;
    }

    a#about {
        padding-left: 0;
        padding-right: 0;
        margin-top: 10.4px;
    }

    .vl {
        border-left: 1px solid black;
        height: 27px;
        margin-top: 27px;
    }

    .topbar img {
        width: 20vw;
        height: auto;
    }

    /*-------------------MAIN START--------------*/
    main {
        padding: 20px;
    }

    .mock_up {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #fire_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
    }

    .icon_skitse {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75vw;
        margin-bottom: 50px;
        margin-top: 20px;
    }

    #tre_section {
        margin-top: 50px;
    }

    #fire_section {
        margin-top: 50px;
    }

    #fire_section .section_wrapper {
        padding: 20px;

    }

    .moodboard {
        width: 75vw;

    }

    .styletile {
        width: 75vw;
    }

    /*-------------------FOOTER--------------*/
    #forfatter p {
        margin: 0;
        padding: 5px;
    }
}

@media (orientation: landscape),
(min-width:900px) {
    main {
        padding: 70px;
    }


    @media (min-width: 1020px) {
        .topbar img {
            width: 15vw;
            height: auto;
        }

    }

    @media (min-width: 1200px) {
        .topbar img {
            width: 11vw;
            height: auto;
        }
    }
